@use "./abstracts/colors";
/* Header styles */
.header-wrapper {
  padding-bottom: 4em;
  background: url("../images/pattern-circles.svg") no-repeat center;
  .app-title {
    font-size: 25px;
    font-weight: bold;
    color: colors.$dark-desaturated-blue;
  }
  .app-banner {
    max-width: 200px;
  }
}

@media screen and (min-width: 968px) {
  .header-wrapper {
    padding-bottom: 6em;
  }
  .app-title {
    font-size: 27px;
  }
}
