/* main colors */
/* Neutral colors */
/* fonts */
/* main colors */
/* Neutral colors */
/* fonts */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", Arial, sans-serif;
  background-color: hsl(230deg, 100%, 99%);
}

.app-wrapper {
  margin: 4em auto 0;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  color: hsl(225deg, 20%, 60%);
  background-color: hsl(230deg, 100%, 99%);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/* main colors */
/* Neutral colors */
/* fonts */
/* Header styles */
.header-wrapper {
  padding-bottom: 4em;
  background: url("../images/pattern-circles.svg") no-repeat center;
}
.header-wrapper .app-title {
  font-size: 25px;
  font-weight: bold;
  color: hsl(227deg, 35%, 25%);
}
.header-wrapper .app-banner {
  max-width: 200px;
}

@media screen and (min-width: 968px) {
  .header-wrapper {
    padding-bottom: 6em;
  }
  .app-title {
    font-size: 27px;
  }
}
/* main colors */
/* Neutral colors */
/* fonts */
.pricing-component > *,
.static-info-el {
  display: block;
  margin: 1.5em auto !important;
}

.static-info-el {
  margin: 0.5em auto !important;
}

.pricing-component {
  margin: 2em auto;
  padding: 1.5em;
  width: 95%;
  max-width: 700px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 40px 1px hsl(224deg, 65%, 95%);
}
.pricing-component input[type=range]::-webkit-slider-thumb {
  margin-top: -15px;
  -webkit-appearance: none;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 1px 15px 20px hsl(174deg, 77%, 80%), 0px 10px 10px hsl(174deg, 77%, 80%);
  background: url(../images/icon-slider.svg) no-repeat center hsl(174deg, 86%, 45%);
}
.pricing-component input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  background-color: hsl(224deg, 65%, 95%);
}
.pricing-component .page-views-desktop-display {
  display: none;
}
.pricing-component .page-views-desktop-display .page-views {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pricing-component .pricing-value {
  color: hsl(227deg, 35%, 25%);
  font-weight: 800;
  font-size: 30px;
}
.pricing-component .spacer-line {
  height: 1px;
  background-color: hsl(224deg, 65%, 95%);
}
.pricing-component .time-billing {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 300px;
}
.pricing-component .time-billing .form-check {
  margin: 0 1em;
}
.pricing-component .time-billing .form-check-input {
  width: 45px !important;
  height: 25px !important;
  cursor: pointer;
  background-color: hsl(223deg, 50%, 87%);
}
.pricing-component .time-billing .form-check-input:checked {
  background-color: hsl(174deg, 86%, 45%);
  border-color: hsl(174deg, 86%, 45%);
}
.pricing-component .time-billing .billing-label {
  font-size: 12px;
}
.pricing-component .time-billing .billing-label-yearly::after {
  margin-left: 0.5em;
  padding: 0.3em 0.8em;
  position: absolute;
  content: "-25%";
  font-size: 12px;
  color: hsl(15deg, 100%, 70%);
  vertical-align: baseline;
  background-color: hsl(14deg, 92%, 95%);
  border-radius: 25px;
}
.pricing-component .bottom-part .static-info-el {
  margin: 0.5em 0;
}
.pricing-component .bottom-part .static-info-el::before {
  content: url("../images/icon-check.svg");
  margin-right: 1em;
}
.pricing-component .bottom-part .btn-submit {
  margin: 2em auto 0;
  padding: 0.8em 1.5em;
  color: hsl(226deg, 100%, 87%);
  border: none;
  background-color: hsl(227deg, 35%, 25%);
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.pricing-component .bottom-part .btn-submit:hover {
  color: #fff;
}

@media screen and (min-width: 968px) {
  .page-views-mobile-display,
.pricing-mobile-disaply {
    display: none;
  }
  .page-views-desktop-display {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .pricing-value {
    font-size: 35px;
  }
  .billing-label {
    font-size: 16px;
  }
  .time-billing {
    padding: 1.5em 0 1em;
  }
  .billing-label-yearly::after {
    content: "-25% discount";
  }
  .bottom-part {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .static-info {
    text-align: left;
  }
  .btn-submit {
    padding: 0.8em 4em;
    margin: 0 0 0 12em;
  }
}/*# sourceMappingURL=style.css.map */